{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<h4 id="sub-title">Szczegóły wydarzenia: </h4>
<div class="row">
    <div class="col-sm-12">
        <div class="card ">
            <div style="width: 18rem;">
                <img src="data:image/jpg;base64,{{ event.photo }}" class="card-img-top" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ event.jaka_gra|e }}</h5>
                <p class="card-text">
                <div><b>Organizator:</b><a href="profile_viev/{{ event.login }}" class="btn btn-link">{{ event.login|e
                    }}</a></div>
                <div><b>Opis gry: </b>{{ event.opis|e }}</div>
                <div><b>Kiedy? </b>{{ event.kiedy|e }}</div>
                <div><b>Gdzie? </b>{{ event.gdzie|e }}</div>
                <div><b>Wolne miejsca: </b>{{ event.ile_miejsc|e }}</div>
                <br>
                {% if event.can_join %}
                <button class="btn btn-primary" type="submit">Dołącz</button>
                {% else %}
                <button class="btn btn-primary" type="submit" disabled data-bs-toggle="button">Dołączono</button>
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}