{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Wydarzenie{% endblock %}</h1>
{% endblock %}

{% block content %}
<b>Formularz do tworzenia wydarzenia</b>

  <form method="post">
    <label for="user">Username</label>
    <input name="user" id="user" required>
    <label for="title">Tytuł gry</label>
    <input name="title" id="title" required>
    <label for="description">Opis gry</label>
    <input name="description" id="description" required>
    <label for="when">Kiedy</label>
    <input name="when" id="when" required>
    <label for="where">Gdzie</label>
    <input name="where" id="where" required>
    <label for="the_number_of_seats">Liczba miejsc</label>
    <input name="the_number_of_seats" id="the_number_of_seats" required>
    <input type="submit" value="Utwórz wydarzenie">
  </form>
{% endblock %}
