{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Wydarzenie{% endblock %}</h1>
{% endblock %}

{% block content %}
<p class="fs-4">Utwórz nowe wydarzenie</p>

<div class="container-fluid">
    <form class="p-3 mb-2 bg-light text-dark">
        <label for="user">Organizator</label><br>
        <input name="user" id="user" required><br>
        <br>
        <label for="title">Tytuł gry</label><br>
        <input name="title" id="title" required><br>
        <br>
        <label for="description">Opis gry</label><br>
        <input name="description" id="description" required><br>
        <br>
        <label for="when">Termin</label><br>
        <input name="when" id="when" required><br>
        <br>
        <label for="where">Miejsce</label><br>
        <input name="where" id="where" required><br>
        <br>
        <label for="the_number_of_seats">Liczba miejsc</label><br>
        <input name="the_number_of_seats" id="the_number_of_seats" required><br>
        <br>
        <input type="submit" value="Utwórz wydarzenie">
    </form>
</div>
{% endblock %}
