{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

{% for invit in friends_invit %}
<div class="row">
    <div class="col-sm-12">
        <div class="card ">
            <div style="width: 18rem;">
                <img src="data:image/jpg;base64,{{ invit.photo }}" class="card-img-top" alt="">
            </div>
            <div class="card-body">

                <p class="card-text">
                <div>{{ invit.login|e }}</div>
                <div>{{ invit.city|e }}</div>
                <div>{{ invit.opis|e }}</div>
                <br>
                <form method="post" action="/friends/ {{ invit.id }}/join">
                    <button class="btn btn-primary" type="submit">Potwierdź znajomość</button>
                </form>form>
            </div>
        </div>
        </div>
    </div>
        {% endfor %}

        {% endblock %}
