{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

{% for event in events %}
  <div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ event.jaka_gra|e }}</h5>
        <p class="card-text">
          <div>{{ event.login|e }}</div>
          <div>{{ event.opis|e }}</div>
          <div>{{ event.kiedy|e }}</div>
          <div>{{ event.gdzie|e }}</div>
          <div>{{ event.ile_miejsc|e }}</div>
        </p>
        <a href="#" class="btn btn-primary">Dołącz</a>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}
