{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div class="container-fluid ">
    <form class="search-bar" method="post" action="search">
        <div class="d-flex">
            <input class="form-control me-2" type="search" name="fraza" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>

        <div class="btn-group d-flex" role="group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked
                   value="login">
            <label class="btn btn-outline-primary" for="btnradio1">login</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="gra">
            <label class="btn btn-outline-primary" for="btnradio2">gra</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value="miasto">
            <label class="btn btn-outline-primary" for="btnradio3">miasto</label>
        </div>
    </form>
</div>
{% for entity in entities %}
<div class="row">
    <div class="col-sm-12">
        <div class="card ">
            {% if entity.type == "event" %}
            <div style="width: 18rem;">
                <img src="data:image/jpg;base64,{{ entity.photo }}" class="card-img-top" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ entity.jaka_gra|e }}</h5>
                <p class="card-text">
                <div><b>Organizator:</b><a href="profile_viev/{{ entity.login }}" class="btn btn-link">{{ entity.login|e }}</a></div>
                <div><b>Opis gry: </b>{{ entity.opis|e }}</div>
                <div><b>Kiedy? </b>{{ entity.kiedy|e }}</div>
                <div><b>Gdzie? </b>{{ entity.gdzie|e }}</div>
                <div><b>Wolne miejsca: </b>{{ entity.ile_miejsc|e }}</div>
                <br>
                <form method="post" action="/event/{{ entity.id }}/join">
                     {% if entity.can_join %}
                        <button class="btn btn-primary" type="submit">Dołącz</button>
                    {% else %}
                        <button class="btn btn-primary" type="submit" disabled data-bs-toggle="button">Dołączono</button>
                    {% endif %}
                </form>
                <a href="/event_details/{{ entity.id }}" class="btn btn-primary">Szczegóły</a>
            </div>
            {% else %}
            <div class="card-body">

                <p class="card-text">
                <div>{{ entity.login|e }}</div>
                <div>{{ entity.city|e }}</div>
                <div>{{ entity.opis|e }}</div>

            </div>
            {% endif %}
        </div>
        {% endfor %}

        {% endblock %}
