{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Strona Główna{% endblock %}</h1>
{% endblock %}

{% block content %}
<ol>
{% for event in events %}
  <li type="circle">
    <div class="container">
      <strong>
        <div>{{ event.login|e }}</div>
        <div>{{ event.jaka_gra|e }}</div>
        <div>{{ event.opis|e }}</div>
        <div>{{ event.kiedy|e }}</div>
        <div>{{ event.gdzie|e }}</div>
        <div>{{ event.ile_miejsc|e }}</div>
       </strong>
      <hr>
    </div>
  </li>
{% endfor %}
</ol>
  <form method="post">
    <input type="submit" value="Utwórz wydarzenie">
  </form>
{% endblock %}
