{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profil{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>
<!--<div><img src="data:image/jpg;base64,{{ g.user.photo }}" alt="" class="page"></div>-->
<div class="card" style="width: 18rem;">
    <div class="card-header">
        <img src="data:image/jpg;base64,{{ user.photo }}" alt="" class="page img-fluid">
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ user.login|e }}</li>
        <li class="list-group-item">{{ user.city|e }}</li>
        <li class="list-group-item">{{ user.opis|e }}</li>
    </ul>
</div>
{% if my_profile == 'False' %}
    {% if friendship == 1 %}
        <form method="post" action="/friends/{{ user.id }}/break">
            <button class="btn btn-primary" type="submit">Usuń ze znajomych</button>
        </form>
    {% elif friendship == 3 %}
        <form method="post" action="/profile_view/{{ user.login }}/invitation">
            <button class="btn btn-primary" type="submit">Dodaj do znajomych</button>
        </form>
    {% else %}
        <b>Wysłano zaproszenie</b>
    <br>
    {% endif %}
{% else %}
<br>
{% endif %}
<br>

<div class="container">
    <div class="row">
        <div class="col">
            <h5>Wydarzenia użytkownika {{ user.login|e }}:</h5>
            {% for event in my_events %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        {% if event.type == "event" %}
                        <div style="width: 18rem;">
                            <img src="data:image/jpg;base64,{{ event.photo }}" class="card-img-top" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ event.jaka_gra|e }}</h5>
                            <p class="card-text">
                            <div><b>Organizator:</b><a href="/profile_view/{{ event.login }}" class="btn btn-link">{{
                                event.login|e
                                }}</a></div>
                            <div><b>Opis gry: </b>{{ event.opis|e }}</div>
                            <div><b>Kiedy? </b>{{ event.kiedy|e }}</div>
                            <div><b>Gdzie? </b>{{ event.gdzie|e }}</div>
                            <div><b>Wolne miejsca: </b>{{ event.ile_miejsc|e }}</div>
                            <br>
                            <form method="post" action="/event/{{ event.id }}/join">
                                {% if event.can_join %}
                                <button class="btn btn-primary" type="submit">Dołącz</button>
                                {% else %}
                                <button class="btn btn-primary" type="submit" disabled data-bs-toggle="button">
                                    Dołączono
                                </button>
                                {% endif %}
                            </form>
                            <a href="/event_details/{{ event.id }}" class="btn btn-primary">Szczegóły</a>
                        </div>
                        {% else %}
                        <div class="card-body">

                            <p class="card-text">
                            <div>{{ event.city|e }}</div>
                            <div>{{ event.opis|e }}</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col">
            <h5>Wydarzenia, w których bierze udział {{ user.login|e }}:</h5>
            {% for event in joined_events %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        {% if event.type == "event" %}
                        <div style="width: 18rem;">
                            <img src="data:image/jpg;base64,{{ event.photo }}" class="card-img-top" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ event.jaka_gra|e }}</h5>
                            <p class="card-text">
                            <div><b>Organizator:</b><a href="/profile_view/{{ event.login }}" class="btn btn-link">{{
                                event.login|e
                                }}</a></div>
                            <div><b>Opis gry: </b>{{ event.opis|e }}</div>
                            <div><b>Kiedy? </b>{{ event.kiedy|e }}</div>
                            <div><b>Gdzie? </b>{{ event.gdzie|e }}</div>
                            <div><b>Wolne miejsca: </b>{{ event.ile_miejsc|e }}</div>
                            <br>
                            <form method="post" action="/event/{{ event.id }}/join">
                                {% if event.can_join %}
                                <button class="btn btn-primary" type="submit">Dołącz</button>
                                {% else %}
                                <button class="btn btn-primary" type="submit" disabled data-bs-toggle="button">
                                    Dołączono
                                </button>
                                {% endif %}
                            </form>
                            <a href="/event_details/{{ event.id }}" class="btn btn-primary">Szczegóły</a>
                        </div>
                        {% else %}
                        <div class="card-body">

                            <p class="card-text">
                            <div>{{ event.city|e }}</div>
                            <div>{{ event.opis|e }}</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
