{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profil{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>
<!--<div><img src="data:image/jpg;base64,{{ g.user.photo }}" alt="" class="page"></div>-->
<div class="card" style="width: 18rem;">
    <div class="card-header">
        <img src="data:image/jpg;base64,{{ user.photo }}" alt="" class="page img-fluid">
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ user.login|e }}</li>
        <li class="list-group-item">{{ user.city|e }}</li>
        <li class="list-group-item">{{ user.opis|e }}</li>
    </ul>
</div>

{% endblock %}}